{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
     <link rel="stylesheet" href="{% static 'main.css' %}"/>
    <title>Teleporada | Ankieta</title>
</head>
<div class="bg">
    <div class="content">
        <div class="text">
<h1>Ankieta została zakończona!</h1>
<h2>Przeanalizowane dane wraz z&nbsp;wnioskami zostaną udostępnione na&nbsp;stronie w&nbsp;dniu 19.05.2022 r.</h2>
</div>
    </div>
</div>
</html>