{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teleporada | Ankieta</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
    <link rel="stylesheet" href="{% static 'forms.css' %}"/>
</head>

<body class="bg">
    <div class="content">
        {% block content %}
            {% crispy form form.helper %}
        {% endblock %}
    </div>
    <div class="footer">
            <p>Anna Bączyk IBM IwM 1 180489</p>
        </div>
</body>
</html>