{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Teleporada | Ankieta</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
    <link rel="stylesheet" href="{% static 'main.css' %}"/>
</head>
<div class="bg">
    <div class="content">
        <div class="text">
            <h1>Wpływ teleporady na&nbsp;jakość świadczonych usług medycznych w&nbsp;ocenie pacjentów
                oraz&nbsp;lekarzy</h1>
            <p>Jestem studentką Politechniki Gdańskiej na kierunku Inżynieria Biomedyczna. W&nbsp;ramach przedmiotów
                Rozwój Aplikacji Internetowych w&nbsp;Medycynie oraz&nbsp;Hurtownie i&nbsp;Eksploracja Danych stworzono
                poniższą
                ankietę w celu zbadania wpływu teleporady na jakość świadczonych usług medycznych. Ankieta jest
                anonimowa.</p>
            <p>Ankieta będzie otwarta do 12.05.2022&nbsp;r.</p>
            <p>
                Wypełnienie ankiety zajmie około 5 minut.
            </p>
            <br/>
        </div>
        <form action="/general">
            <input type="submit" class="button" value="Przejdź do ankiety"/>
        </form>
    </div>
</div>
</html>