{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
    <link rel="stylesheet" href="{% static 'results.css' %}"/>
    <title>Teleporada | Ankieta</title>
</head>
<body class="bg">
<div class="content">
    <h1>Dane statystyczne</h1>
    <p>Ankieta została zamknięta 12.05.2022 r. i zebrano 116 wypełnionych ankiet dla pacjentów.
        Po oczyszczaniu danych i usunięciu krotek z&nbsp;brakującymi danymi (wynikających z wprowadzenia dodatkowych
        pytań po zebraniu kilku wyników) do dalszego przetwarzania wykorzystano 111 wyników.</p>
<p>Poniżej przedstawiono wykresy obrazujące część otrzymanych wyników: </p>
    {% block content %}
        {% autoescape off %}
            {% for i in plot_div %}
                {{ i }}
            {% endfor %}
        {% endautoescape %}
    {% endblock content %}
<h2>Korelacja Pearsona</h2>
    <p>Korelacja Pearsona zawiera informację, w jakim stopniu zmienne są zależne od siebie.<br/>Zakres wartości:
        <br/>1 - zmienne są wprost proporcjonalne
        <br/>0 - brak korelacji
        <br/>-1 - zmienne są odwrotnie proporcjonalne</p>
    <img src="{% static "img/correlation.jpg" %}" class="image" alt="Korelacja Pearsona"/>
    <p>Z wykresu można odczytać, że największa korelacja występuje między tym, czy instrukcje przekazane od lekarza były
        jasne, a tym, czy problem został rozwiązany podczas teleporady.</p>
    <div class="buttons">
        <button class="button" onclick="location.href='../'">Wstecz</button>
    </div>
</div>
<div class="footer">
    <p>Anna Bączyk IBM IwM 1 180489</p>
</div>
</body>
</html>