{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
    <link rel="stylesheet" href="{% static 'results.css' %}"/>
    <title>Teleporada | Ankieta</title>
</head>
<body class="bg">
<div class="content">
    <h1>Dane statystyczne</h1>
<div class="buttons">
        <button class="button" onclick="history.back()">Wstecz</button>
    </div>
    </div>
<div class="footer">
    <p>Anna Bączyk IBM IwM 1 180489</p>
</div>
</body>
</html>